camelot-py
cffi
chardet
charset-normalizer
click
contourpy
cryptography
cycler
decorator
distro
Elixir
et-xmlfile
fonttools
fuzzywuzzy
ghostscript
Jinja2
kiwisolver
Levenshtein
MarkupSafe
matplotlib
numpy
opencv-python
openpyxl
packaging
pandas
pbr
pdfminer.six
Pillow
py
pycparser
pycryptodome
pyparsing
PyPDF2
pytest
python-dateutil
python-Levenshtein
pytz
rapidfuzz
six
SQLAlchemy
sqlalchemy-migrate
sqlparse
tabula-py
tabulate
Tempita
tesseract
uno
unoconv
unotools
xlrd
xlwt